.App
{
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: $font-family-body;

  .font-family-heading
  {
    font-family: $font-family-heading;
  }

}

.invalid
{
    color: red;
    text-decoration: line-through;    
}

nav
{
  height: 40px;
  border-bottom: 1px solid black;
}

.customization-item
{
    ol
    {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

input[type=text]
{
    width: 100%;
}

.top-margin
{
    margin-top: 25px;
}
.combination-grid
{
    th
    {
        text-align: center;
    }
    td
    {
        width: 50px;
        height: 50px;
        border-width: 1px;
        border-style: solid;
        border-color:black;
    }


}

.item {
  border: 1px solid black;
  overflow: hidden;
  transform-origin: 30% 50% 0px;
  padding-left: 20px;
  background: white;
  max-height: 100%;
}
.dragHandle
{
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
  width: 20px;
  height: 16px;
  background: url('grippy.png') 30% 50% no-repeat no-repeat;
}

.product-list-entry
{
    position: relative;
    top: -17px;
}

.render-box
{
    min-height: 150px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    &.bottom
    {
        border-bottom-color:black;
        border-bottom-width: 2px;
    }
}

.stickyTableHead
{
    display: table;
    position: sticky;
    z-index: 10;
    background-color: white;
    top: 0;
    th
    {
        min-width: 100px;
    }
}
 
.stickyTableRow
{
    display:table;
    td
    {
        min-width: 100px;
    }
    
}
