.heirarchy
{
    position: relative;
}
.heirarchy-row
{
    min-height: 150px;
    background-color: #f1f1f1;
    position: relative;
}

.heirarchy-button
{
    display: table;
    height: 140px;
    margin-top: 5px;
    min-width: 100px;
    overflow: hidden;
    border-width: 1px;
    border-color: #b9b9b9;
    border-style: solid;
    border-radius:  10px;
    
    &:hover
    {
        border-color: red;
        cursor: pointer;
    }
    .heirarchy-button-text
    {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
}

.heirarchy-button-has-image
{
    background-color: white;
}
