.heirarchy-add-modal
{
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    min-height: 500px;
    width: 50%;
    background-color: #f1f1f1;
    z-index: 2;
    
    border-width: 1px;
    border-color: #b9b9b9;
    border-style: solid;
    border-radius:  10px;
    

    .heirarchy-add-modal-close
    {
        position: absolute;
        top: 15px;
        right: 15px;
        color: blue;        
        &:hover
        {
            cursor: pointer;

        }
    }

    .inline-upload
    {
        display: inline;
    }
}


